#!/usr/bin/env bash

# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Shortcuts
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias g="git"

# git
alias gaa="git add --all"
alias gap="git add -p"
alias gb="git branch"
alias gco="git checkout"
alias gc="git commit -v"
alias gd="git diff"
alias gds="git diff --staged"
alias gg="git lg"
alias gp="git push"
alias gl="git pull"
alias gpf="git push -f"
alias grc="git rebase --continue"
alias gsq="git rebase -i"

